<h4> <%= link "Inicio", to: page_path(@conn, :index)%> </h4>
<h4>Para entrar com dados digite na barra de endereço</h4>
<h4>Exemplo: ".../calculadora/<%= @operation %>"</h4>
<h3>Entrada: <%= @operation %> </h3>
<h3>Operação: <%= handle(@operation) %> </h3>