<h2>Editar filme</h2>

<%= render "form.html", changeset: @changeset, categorias: @categorias, classificacao: @classificacao,
                        action: video_path(@conn, :update, @video) %>

<%= link "Back", to: video_path(@conn, :index) %>
