<h2>Novo filme</h2>

<%= render "form.html", changeset: @changeset, categorias: @categorias, classificacao: @classificacao,
                        action: video_path(@conn, :create) %>

<%= link "Back", to: video_path(@conn, :index) %>
