<h4> <%= link "Teste1", to: testes_path(@conn, :teste1), class: "btn btn-warning"%> </h4>

<%= form_for @conn, @action, [as: :testes], fn f -> %>
 
 <div class="form-group">
    <%= text_input f, :name, placeholder: "1+2", class: "form-control" %>
 </div>
 
 <%= submit "Enviar", class: "btn btn-primary" %>
<% end %>