<center> <h4> <%= link "Inicio", to: page_path(@conn, :index), class: "btn btn-default"%> </h4> </center>
<h1>Its Working</h1>
<%= render "form.html", action: testes_path(@conn, :create), conn: @conn %>