<h4> <%= link "Inicio", to: page_path(@conn, :index)%> </h4>
<h1>Its Working</h1>
<h3><%= "teste" %></h3>
<h4> <%= link "Teste1", to: testes_path(@conn, :teste1)%> </h4>

<%= form_for @conn, testes_path(@conn, :create), [as: :testes], fn f -> %>
 
 <div class="form-group">
    <%= text_input f, :name, placeholder: "Nome", class: "form-control" %>
 </div>
 
 <%= submit "Enviar", class: "btn btn-primary" %>
<% end %>